*{

	font-family: 'Open Sans', sans-serif;
}
html {
  scroll-behavior: smooth;
}

body{
	background: #fff;
	margin: 0;
}

.tm-container{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	/*max-width: 1200px;*/
	padding: 1px 2px;
}

.tm-header{
	background: #fff;
	position: sticky;
	z-index: 2;
	top: 0;
	/*padding: 8px 16px;*/
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
	/*margin: 0 auto;
	border: 0px solid none;*/
}
.tm-header::after{
	content: " ";
	clear: both;
	display: inline-block;
	visibility: none;
}

/*.tm-nav{
	float: right;
}*/

.tm-gourmet{
	padding: 10px 20px;
	text-decoration: none;
	color: black;
}

.tm-nav ul li{
	display: inline-block;
}

.tm-nav ul li a{
	padding: 10px 20px;
	text-decoration: none;
	color: black;
}

/*centri*/

.tm-contain{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.catering{
	text-align: center!important;
	/*padding: 10px 400px;*/
}
h1{
	letter-spacing: 5px;
	color: black;
	margin: 10px 0;
	font-weight: 400;
}
h2{
	font-family: 'Open Sans', sans-serif;
	font-family: 'Zen Loop', cursive;
	font-size: 18px;
	margin: 10px 0;
	letter-spacing: 5px;
	text-align: center!important;
	margin-block-start: 1.67em;
	margin-block-end: 1,67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.table{
	display: block;
	height: 700px;
	border-radius: 10px;
    opacity: .8;
    width: 50%;
    object-fit: cover;
}
.photo{
	padding-top: 64px!important;
	padding-bottom: 64px!important;
}
.themes{
	/*float: right;*/
	height: 400px;
	text-align: center;
	/*width: 49%;*/
    padding-left: 24px;
    min-width: 550px;
}

.tm-content{
	margin-top: 0px;
	margin-bottom: 0px;
}

.greycolor{
	color: #000!important;
    background-color: #f1f1f1!important;
}
.maden{
	color: #757575!important;
}
.photo {
	display: flex;
	justify-content: center;

}
.dav {
	display: flex;
    max-width: 1100px;
    width: 100%;
}

hr{
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	display: block;
	unicode-bidi: isolate;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
	margin-inline-start: auto;
	margin-inline-end: auto;
}
h4{
	font-size: 20px;
	display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    letter-spacing: 5px;
    font-weight: 400;
    margin: 10px 0;
}
.ourm{
	color: #757575!important;
}
.photo1{
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	/*max-width: 1100px;
    width: 100%;*/
    padding-left: 24px;
    min-width: 550px;
    padding: 64px 12px;
}
.food{
	padding: 35px;
	opacity: .75;
	height: auto;
	max-width: 100%;
}

.about21:hover{
	background-color: grey;
}
.menu21:hover{
	background-color: grey;
}
.contact21:hover{
	background-color: grey;
}

/*.w3-button {
	  transition: all .5s ease-out;


}*/
.tm-gourmet:hover{
	background-color: grey;
}
.different{
	color: #607d8b!important;
}

.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 15px;
    padding: 64px 16px;
    width: 100%;
    box-sizing: border-box;
}
.conta{
	padding: 8px;
    display: block;
    justify-content: center;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    overflow: visible;
    font: inherit;
    margin: 0;
    padding: 16px 8px;
}
.contact1{
	padding: 64px 16px;
}
input[type=text] {
	border: none;
	padding: 5px;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
input[type=datetime-local] {
	border: none;
	padding: 2px;
	border-bottom: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	align-items: center;
    display: -webkit-inline-flex;
    font-family: monospace;
    padding-inline-start: 1px;
    cursor: default;
    overflow: hidden;
    padding: 0px;
}

/*.butt:hover{
	color: #000!important;
    background-color: #f1f1f1!important;
}*/
.butt {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
        font: inherit;
    margin: 0;
}
.butt:hover{
	color: #000!important;
    background-color: #f1f1f1!important;
}

/*foot{
	padding: 32px 0;
	display: flex;
	justify-content: center;
}*/